/* [project]/public/assets/section-css/hero.css [app-client] (css) */
.section-bg.hero-bg {
  padding-top: 142px;
}

.section-bg.hero-bg-2 {
  padding-top: 92px;
}

.ed-hero {
  z-index: 2;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
}

.ed-hero__shape-1, .ed-hero__shape-2, .ed-hero__shape-3, .ed-hero__shape-4, .ed-hero__shape-5 {
  z-index: 9;
  position: absolute;
}

.ed-hero__shape-1 {
  z-index: -1;
  top: 22%;
  left: 8%;
}

.ed-hero__shape-2 {
  bottom: 36%;
  right: 40%;
}

.ed-hero__shape-3 {
  top: 26%;
  right: 2%;
}

.ed-hero__shape-4 {
  bottom: 10%;
  right: 5%;
}

.ed-hero__shape-5 {
  bottom: 10%;
  right: 54%;
}

.ed-hero__content-sm-title {
  color: var(--ed-tertiary-color);
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  display: block;
}

.ed-hero__content-title {
  letter-spacing: -2.4px;
  margin-bottom: 56px;
  font-size: 80px;
  line-height: 92px;
}

.ed-hero__content-title span {
  background: var(--ed-tertiary-color);
  border-radius: 10px;
  padding: 0 14px;
  display: inline-block;
}

.ed-hero__content-text {
  letter-spacing: -.18px;
  padding-right: 200px;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
}

.ed-hero__btn {
  margin-top: 45px;
}

.ed-hero__image {
  z-index: 2;
  position: relative;
}

.ed-hero__image img {
  object-fit: cover;
  width: 653px;
  height: 740px;
}

.ed-hero__image:before {
  content: "";
  z-index: -1;
  background: linear-gradient(#fff 0%, #d7e1d8 100%);
  border-radius: 100%;
  width: 706px;
  height: 706px;
  position: absolute;
  bottom: -105px;
  left: 2%;
}

.hero-divider {
  background: #2563eb;
  border-radius: 2px;
  width: 60px;
  height: 4px;
  margin: 20px 0;
}

.brand-highlight {
  color: #fff;
  border-radius: 6px;
  padding: 4px 12px;
  background: linear-gradient(90deg, #2563eb, #4f46e5) !important;
}

.brand-quote {
  color: #475569;
  letter-spacing: 1px;
  margin-top: 20px;
  font-size: 26px;
  font-weight: 500;
}

.ed-hero.ed-hero--style2 .ed-container-expand {
  max-width: 1762px;
}

.ed-hero.ed-hero--style2 {
  z-index: 2;
  width: 100%;
  height: 890px;
  padding: 0;
  overflow: visible;
}

.ed-hero__bg--style2 {
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
  z-index: -1;
  width: 100%;
  height: 890px;
  position: absolute;
  top: 0;
  left: 0;
}

.ed-hero__bg--style2:before {
  content: "";
  background: linear-gradient(-90deg, #011c1a00 47.22%, #033c3775 69.75%);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ed-hero__bg--style2 img {
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  height: 890px;
}

.ed-hero__search {
  padding-right: 120px;
}

.ed-hero__search-form {
  position: relative;
}

.ed-hero__search-form input {
  color: #011c1a8c;
  letter-spacing: -.14px;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 52px;
  width: 100%;
  height: 50px;
  padding: 16px 140px 16px 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 31px;
}

.ed-hero__search-form input:focus {
  border: 1px solid var(--ed-primary-color);
}

.ed-hero__search-form button {
  background: var(--ed-primary-color);
  height: 40px;
  color: var(--ed-white-color);
  letter-spacing: -.14px;
  border-radius: 52px;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  position: absolute;
  top: 5px;
  right: 7px;
}

.ed-hero__search-form button:hover {
  background: var(--ed-secondary-color);
}

.ed-hero__search-form button i {
  font-size: 15px;
}

.ed-hero__tags {
  align-items: center;
  gap: 8px;
  margin-top: 28px;
  display: flex;
}

.ed-hero__tags li a {
  color: var(--ed-white-color);
  background: #ffffff1a;
  border-radius: 42px;
  padding: 4px 14px;
  font-size: 15px;
  font-weight: 400;
}

.ed-hero__tags li a:hover {
  background: var(--ed-primary-color);
  color: var(--ed-white-color);
}

.ed-hero.ed-hero--style2 .ed-hero__content {
  padding: 200px 0 200px 102px;
}

.ed-hero__images--style2 {
  float: right;
  margin-top: 340px;
  margin-right: 96px;
}

.ed-hero__images--style2 .ed-course__card {
  background: var(--ed-white-color);
  width: 370px;
  margin: 0;
  box-shadow: 0 4px 30px 16px #0702290a;
}

.ed-hero.ed-hero--style3 {
  height: 860px;
  padding-top: 94px;
}

.ed-hero__slider {
  position: absolute;
  top: 0;
  left: 0;
}

.ed-hero__slider-item {
  position: relative;
}

.ed-hero__slider-item:before {
  content: "";
  background-image: url("../media/hero-overlay.4861233d.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ed-hero__slider-item img {
  object-fit: cover;
  width: 100% !important;
  height: 860px !important;
}

.ed-hero--style3 .ed-hero__content {
  z-index: 2;
  margin-top: 294px;
  padding: 0 40px;
  position: relative;
}

.ed-hero .owl-nav button {
  cursor: pointer;
  opacity: 1;
  width: auto;
  height: auto;
  line-height: auto;
  background: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  transition: all .4s;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--ed-white-color) !important;
  font-size: 28px !important;
}

.ed-hero .owl-nav button:hover {
  background: none;
  color: var(--ed-primary-color) !important;
}

.ed-hero .owl-prev {
  left: 80px;
}

.ed-hero .owl-next {
  right: 80px;
}

.ed-hero.ed-hero--style4 {
  background: #ebf5eb;
  height: 836px;
  margin-top: 94px;
  padding-top: 0;
}

.ed-hero.ed-hero--style4:before {
  content: "";
  background-image: url("../media/curve-spae.f3896d1e.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 225px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.ed-hero.ed-hero--style4 .ed-hero__content {
  margin-top: 180px;
}

.ed-hero.ed-hero--style4 .ed-hero__content-sm-title {
  color: #df4343;
}

.ed-hero.ed-hero--style4 .ed-hero__content-title {
  margin-bottom: 40px;
}

.ed-hero__image--style-4.left-img {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 100px;
}

.ed-hero__image--style-4.left-img img {
  object-fit: contain;
  width: 424px;
  height: 704px;
}

.ed-hero__image--style-4.right-img {
  position: absolute;
  bottom: 86px;
  right: 100px;
}

.ed-hero__image--style-4 .ed-hero__image-main img {
  object-fit: contain;
  width: 392px;
  height: 496px;
}

.ed-hero__image--style-4 .ed-hero__image-shape {
  z-index: -1;
  position: absolute;
  top: 34px;
  left: 20px;
}

.ed-hero__elements--style-2 .shape-1 {
  z-index: 2;
  position: absolute;
  top: 28%;
  left: 23%;
}

.ed-hero__elements--style-2 .shape-2 {
  position: absolute;
  top: 25%;
  right: 36%;
}

.ed-hero__elements--style-2 .shape-3 {
  position: absolute;
  bottom: -15%;
  left: 34%;
}

.ed-hero__elements--style-2 .shape-4 {
  position: absolute;
  bottom: -15%;
  right: 36%;
}

.ed-hero__fixed-shape .shape-1 {
  position: absolute;
  top: 20%;
  left: 0;
}

.ed-hero__fixed-shape .shape-2 {
  position: absolute;
  top: -44px;
  left: 23%;
}

.ed-hero__fixed-shape .shape-3 {
  position: absolute;
  top: 12%;
  right: 0;
}

.ed-hero.ed-hero--style5 {
  overflow: initial;
  background: #f5f6f1;
  padding-top: 0;
  padding-bottom: 70px;
}

.ed-hero.ed-hero--style5 .ed-hero__content {
  margin-top: 116px;
}

.ed-hero.ed-hero--style5 .ed-hero__img {
  position: absolute;
  top: 0;
  right: 0;
}

.ed-hero.ed-hero--style5 .ed-hero__img img {
  object-fit: cover;
  border-radius: 0 0 0 50px;
  width: 830px;
  height: 700px;
}

.ed-hero.ed-hero--style5 .ed-hero__content-title {
  letter-spacing: -1.6px;
  margin-bottom: 32px;
  line-height: 85px;
}

.ed-hero--style5 .ed-hero-shapes .shape-1 {
  position: absolute;
  top: 64px;
  left: 0;
}

.ed-hero--style5 .ed-hero-shapes .shape-2 {
  position: absolute;
  bottom: 28%;
  left: 42%;
}

.ed-hero--style5 .ed-hero-shapes .shape-3 {
  z-index: 2;
  position: absolute;
  top: 10%;
  right: 40%;
}

.ed-hero__team-list li img {
  border: 1px solid var(--white-color);
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.ed-hero__team-list li {
  margin-right: -16px;
  display: inline-block;
}

.ed-hero__team {
  align-items: center;
  gap: 40px;
  margin-top: 60px;
  display: flex;
}

.ed-hero__team-content-top {
  align-items: center;
  gap: 6px;
  display: flex;
}

.ed-hero__team-content-top h4 {
  letter-spacing: -.36px;
  margin: 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.ed-hero__team-content-top img {
  object-fit: contain;
  width: 96px;
  height: 24px;
}

.ed-hero__team-content p {
  margin: 6px 0 0;
  font-size: 14px;
  line-height: 18px;
}

.ed-hero__bottom-links a {
  color: #011c1a;
  border-bottom: 1px solid #d0d5d1;
  padding-bottom: 24px;
  font-family: Aeonik Pro TRIAL;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  display: block;
}

.ed-hero__bottom {
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin-top: 110px;
  display: grid;
}

.ed-hero__bottom-links a:hover {
  color: var(--ed-primary-color);
}

@media only screen and (min-width: 1201px) and (max-width: 1600px) {
  .ed-hero__shape-1 {
    top: 20%;
    left: 3%;
  }

  .ed-hero__shape-3 {
    top: 27%;
    right: 2%;
  }

  .ed-hero.ed-hero--style2 .ed-container-expand {
    max-width: 1400px;
  }

  .ed-hero__content-title {
    font-size: 76px;
  }

  .ed-hero.ed-hero--style3 {
    height: 730px;
  }

  .ed-hero--style3 .ed-hero__content {
    margin-top: 172px;
  }

  .ed-hero__image--style-4.left-img {
    left: 20px;
  }

  .ed-hero__image--style-4.right-img {
    right: 20px;
  }

  .ed-hero--style5 .ed-hero-shapes .shape-2 {
    bottom: 24%;
    left: 36%;
  }

  .ed-hero.ed-hero--style5 .ed-hero__img img {
    width: 724px;
  }

  .ed-hero--style5 .ed-hero-shapes .shape-3 {
    right: 42%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .ed-hero.ed-hero--style2 .ed-container-expand {
    max-width: 1170px;
  }

  .ed-hero.ed-hero--style2 .ed-hero__content {
    margin-top: 80px;
    padding: 0 0 0 56px;
  }

  .ed-hero.ed-hero--style2 {
    height: auto;
    margin: 0;
  }

  .ed-hero__content-title {
    font-size: 56px;
    line-height: 64px;
  }

  .ed-hero.ed-hero--style5 .ed-hero__content-title {
    line-height: 56px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1280px) {
  .ed-hero__content-title {
    margin-bottom: 32px;
    font-size: 50px;
    line-height: 58px;
  }

  .ed-hero__content-text {
    padding-right: 0;
  }

  .ed-hero__image img {
    object-fit: contain;
    width: 100%;
    height: 480px;
  }

  .ed-hero__image:before {
    width: 400px;
    height: 400px;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%);
  }

  .ed-hero {
    margin-top: 80px;
    padding: 0;
  }

  .ed-hero__shape-3 {
    right: 5%;
  }

  .ed-hero__shape-2 {
    top: 37%;
    bottom: auto;
  }

  .ed-hero__shape-5 {
    bottom: -45%;
    right: 47%;
  }

  .ed-hero__content {
    margin-bottom: 80px;
  }

  .ed-hero.ed-hero--style2 .ed-hero__content {
    margin-top: 80px;
    padding: 0 0 0 56px;
  }

  .ed-hero.ed-hero--style2 {
    height: auto;
    margin: 0;
  }

  .ed-hero__bg--style2 {
    height: 580px;
  }

  .ed-hero__bg--style2 img {
    border-radius: 0;
    height: 580px;
  }

  .ed-hero__images--style2 {
    margin-top: 40px;
    margin-right: 0;
  }

  .ed-header__left--style2 {
    gap: 40px;
  }

  .ed-hero.ed-hero--style3 {
    height: auto;
    margin: 0;
  }

  .ed-hero--style3 .ed-hero__content {
    margin: 110px 0;
  }

  .ed-hero__slider-item img {
    height: 580px !important;
  }

  .ed-hero__image--style-4.left-img {
    left: 0;
  }

  .ed-hero__image--style-4.left-img img {
    height: 564px;
  }

  .ed-hero__image--style-4.right-img {
    bottom: 20px;
    right: 0;
  }

  .ed-hero__image--style-4 .ed-hero__image-main img {
    height: 364px;
  }

  .ed-hero.ed-hero--style4 .ed-hero__content {
    margin-top: 124px;
  }

  .ed-hero.ed-hero--style5 .ed-hero__content-title {
    line-height: 56px;
  }

  .ed-hero.ed-hero--style5 .ed-hero__img img {
    width: 480px;
    height: 600px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  .ed-hero__content-title {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 56px;
  }

  .ed-hero__content-text {
    padding-right: 0;
  }

  .ed-hero__btn {
    margin-top: 32px;
  }

  .ed-hero {
    z-index: 2;
    padding-top: 80px;
  }

  .ed-hero__image img {
    object-fit: contain;
    width: 100%;
    height: 540px;
  }

  .ed-hero__image:before {
    width: 550px;
    height: 550px;
    left: 50%;
    transform: translate(-50%);
  }

  .ed-hero__image {
    margin-top: 40px;
  }

  .ed-hero__shape-1 {
    z-index: -1;
  }

  .ed-hero__shape-3 {
    right: 5%;
  }

  .ed-hero__shape-5 {
    right: 77%;
  }

  .ed-hero__shape-2 {
    bottom: 36%;
    right: 16%;
  }

  .ed-hero.ed-hero--style2 .ed-hero__content {
    padding: 80px 0 0;
  }

  .ed-hero__bg--style2 img {
    border-radius: 0;
    height: 700px;
  }

  .ed-hero__bg--style2 {
    height: 700px;
  }

  .ed-hero.ed-hero--style2 {
    height: auto;
  }

  .ed-hero__images--style2 {
    float: initial;
    margin-top: 56px;
    margin-right: 0;
  }

  .ed-hero__images--style2 .ed-course__card {
    margin: auto;
  }

  .ed-hero__search {
    padding-right: 140px;
  }

  .section-bg.hero-bg-2 {
    padding-top: 72px;
  }

  .ed-hero.ed-hero--style3 {
    height: auto;
  }

  .ed-hero--style3 .ed-hero__content {
    margin: 80px 0;
  }

  .ed-hero__slider-item img {
    height: 500px !important;
  }

  .ed-hero .owl-prev {
    left: 12px;
  }

  .ed-hero .owl-next {
    right: 12px;
  }

  .ed-hero__image--style-4 .ed-hero__image-shape, .ed-hero__elements--style-2 .shape-1, .ed-hero__image--style-4.left-img, .ed-hero__elements {
    display: none;
  }

  .ed-hero.ed-hero--style4 {
    height: auto;
    margin-top: 72px;
    padding: 80px 0;
  }

  .ed-hero__image--style-4.right-img {
    position: initial;
    text-align: center;
    margin-top: 40px;
  }

  .ed-hero.ed-hero--style4 .ed-hero__content {
    margin-top: 0;
  }

  .ed-hero__fixed-shape .shape-2 {
    z-index: -1;
  }

  .ed-hero__elements--style-2 .shape-3 {
    left: 8%;
  }

  .ed-hero__elements--style-2 .shape-4 {
    right: 15%;
  }

  .ed-hero__image--style-4 .ed-hero__image-main img {
    min-height: 496px;
  }

  .ed-hero.ed-hero--style5 .ed-hero__content {
    margin-top: 70px;
  }

  .ed-hero.ed-hero--style5 .ed-hero__img, .ed-hero--style5 .ed-hero-shapes .shape-3 {
    display: none;
  }

  .ed-hero--style5 .ed-hero-shapes .shape-2 {
    left: 60%;
  }

  .ed-hero.ed-hero--style5 .ed-hero__content-title {
    line-height: 56px;
  }
}

@media only screen and (max-width: 767px) {
  .ed-hero {
    z-index: 2;
    padding-top: 56px;
  }

  .ed-hero__content-title {
    letter-spacing: 0;
    margin-bottom: 16px;
    font-size: 38px;
    line-height: 43px;
  }

  .ed-hero__content-text {
    padding-right: 0;
    line-height: 24px;
  }

  .ed-hero__btn {
    margin-top: 24px;
  }

  .ed-hero__image img {
    object-fit: contain;
    width: 100%;
    height: 380px;
    margin-bottom: -20px;
  }

  .ed-hero__image:before {
    width: 380px;
    height: 324px;
    bottom: -65px;
    left: 50%;
    transform: translate(-50%);
  }

  .ed-hero__image {
    margin-top: 32px;
  }

  .ed-hero__shape-5 {
    bottom: 15%;
    right: 70%;
  }

  .ed-hero__shape-4 {
    bottom: 8%;
    right: 2%;
  }

  .ed-hero__shape-2 {
    bottom: 36%;
    right: 5%;
  }

  .ed-hero__shape-1, .ed-hero__shape-3 {
    z-index: -1;
  }

  .ed-hero.ed-hero--style2 .ed-hero__content {
    padding: 56px 0 0;
  }

  .ed-hero__bg--style2 img {
    border-radius: 0;
    height: 580px;
  }

  .ed-hero__search {
    padding-right: 0;
  }

  .ed-hero__content-sm-title {
    margin-bottom: 16px;
  }

  .ed-hero__images--style2 {
    float: initial;
    margin-top: 40px;
    margin-right: 0;
  }

  .ed-hero__images--style2 .ed-course__card {
    width: 100%;
  }

  .ed-hero__bg--style2 {
    height: 580px;
  }

  .ed-hero.ed-hero--style2 {
    height: auto;
  }

  .ed-hero__elements {
    display: none;
  }

  .section-bg.hero-bg-2 {
    padding-top: 70px;
  }

  .ed-hero.ed-hero--style3 .ed-hero__content-title {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 30px;
    display: -webkit-box;
    overflow: hidden;
  }

  .ed-hero.ed-hero--style3 {
    height: auto;
    padding-top: 72px;
  }

  .ed-hero__slider-item img {
    height: 442px !important;
  }

  .ed-hero--style3 .ed-hero__content {
    margin: 80px 0;
    padding: 0;
  }

  .ed-hero .owl-nav button {
    top: auto;
    bottom: 12px;
    left: 50%;
    transform: translate(-50%);
  }

  .ed-hero .owl-prev {
    left: auto;
    margin-left: -32px !important;
  }

  .ed-hero .owl-next {
    right: auto;
    margin-left: 32px !important;
  }

  .ed-hero__image--style-4.left-img {
    display: none;
  }

  .ed-hero__image--style-4.right-img {
    position: initial;
    margin-top: 40px;
  }

  .ed-hero.ed-hero--style4 {
    height: auto;
    margin-top: 70px;
    padding: 80px 0;
  }

  .ed-hero.ed-hero--style4:before {
    height: 76px;
  }

  .ed-hero.ed-hero--style4 .ed-hero__content {
    margin: 0;
  }

  .ed-hero__image--style-4 .ed-hero__image-main img {
    width: 100%;
    min-height: 496px;
  }

  .ed-hero__elements--style-2, .ed-hero__fixed-shape, .ed-hero__image--style-4 .ed-hero__image-shape, .ed-hero.ed-hero--style5 .ed-hero__img {
    display: none;
  }

  .ed-hero.ed-hero--style5 .ed-hero__content {
    margin-top: 70px;
  }

  .ed-hero.ed-hero--style5 .ed-hero__content-title {
    margin-bottom: 24px;
    line-height: 44px;
  }

  .ed-hero__team {
    margin-top: 40px;
    display: block;
  }

  .ed-hero__bottom {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 40px;
  }

  .ed-hero__bottom-links a {
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 18px;
  }

  .ed-hero-shapes {
    display: none;
  }

  .ed-hero__team-content {
    margin-top: 24px;
  }
}

/*# sourceMappingURL=public_assets_section-css_hero_css_bad6b30c._.single.css.map*/