/* [project]/public/assets/section-css/header.css [app-client] (css) */
.ed-topbar {
  z-index: 999;
  background-color: #64ebeb;
  padding: 10px 0;
  position: relative;
}

.ed-topbar__inner {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.ed-topbar__logo img {
  object-fit: contain;
  max-width: 150px;
  height: auto;
}

.ed-topbar__search {
  width: 570px;
  position: relative;
}

.ed-topbar__search-widget {
  align-items: center;
  display: flex;
}

.ed-topbar__category {
  position: relative;
}

.ed-topbar__category:before {
  content: "";
  z-index: 2;
  background: #b8b8b8;
  width: 1px;
  height: 19px;
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translate(0, -50%);
}

.ed-topbar__category .nice-select {
  border-radius: 52px 0 0 52px;
  width: 190px;
  height: 50px;
  margin: 0;
  padding-left: 30px;
  padding-right: 40px;
  line-height: 50px;
  border: 1px solid #ebebeb !important;
  border-right: none !important;
}

.ed-topbar__category .current {
  -webkit-line-clamp: 1;
  letter-spacing: -.14px;
  color: rgba(1, 28, 26, .75);
  white-space: initial;
  -webkit-box-orient: vertical;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
}

.ed-topbar__category .nice-select .list {
  z-index: 999;
  border: rgba(0, 0, 0, 0);
  border-radius: 8px;
  width: 212px;
  max-height: 320px;
  margin-top: 2px;
  overflow-y: scroll;
  box-shadow: 0 4.4px 20px -1px rgba(19, 16, 34, .05);
  transform: none !important;
}

.ed-topbar__category .nice-select .option {
  min-height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 40px;
}

.ed-topbar__search input {
  letter-spacing: -.14px;
  background: var(--ed-white-color);
  border: 1px solid #ebebeb;
  border-radius: 0 52px 52px 0;
  width: 100%;
  height: 50px;
  padding: 12px 140px 12px 40px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  border-left: 0 !important;
}

.ed-topbar__search button {
  background: var(--ed-primary-color);
  height: 40px;
  color: var(--ed-white-color);
  letter-spacing: -.14px;
  border-radius: 52px;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  position: absolute;
  top: 5px;
  right: 7px;
}

.ed-topbar__search button:hover {
  background: var(--ed-secondary-color);
}

.ed-topbar__search button i {
  font-size: 15px;
}

.ed-topbar__info {
  align-items: center;
  gap: 38px;
  display: flex;
}

.ed-topbar__info-social {
  align-items: center;
  gap: 14px;
  display: flex;
}

.ed-topbar__info-social li img {
  object-fit: contain;
  width: 17px;
  height: 17px;
}

.ed-topbar__info-buttons {
  align-items: center;
  gap: 10px;
  display: flex;
}

.ed-topbar__info-buttons button {
  letter-spacing: -.14px;
  color: #263238;
  z-index: 2;
  border-radius: 52px;
  padding: 13px 23px;
  font-size: 14px;
  font-weight: 500;
  transition: all .4s;
  position: relative;
}

.ed-topbar__info-buttons button:before {
  content: "";
  background: var(--ed-secondary-color);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  border-radius: 52px;
  width: 100%;
  height: 100%;
  transition: all .4s;
  position: absolute;
  top: 0;
  left: 0;
}

.ed-topbar__info-buttons button:hover:before {
  opacity: 1;
  visibility: visible;
}

.ed-topbar__info-buttons button:hover {
  color: var(--ed-white-color);
}

.ed-topbar__info-buttons .register-btn {
  background: var(--ed-tertiary-color);
}

.ed-topbar__info-buttons .login-btn {
  background: linear-gradient(#fff 0%, #d7e1d8 100%);
}

.ed-header {
  background: var(--ed-white-color);
  z-index: 99;
  position: relative;
  box-shadow: 0 4px 30px 16px rgba(7, 2, 41, .04);
}

.ed-header.sticky {
  z-index: 999;
  background: var(--ed-white-color);
  animation: 1.2s sticky;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@keyframes sticky {
  0% {
    top: -200px;
  }

  100% {
    top: 0;
  }
}

.ed-header__menu li {
  margin-right: 24px;
  display: inline-block;
  position: relative;
}

.ed-header__menu li:last-child {
  margin: 0;
}

.ed-header__menu li a {
  color: var(--ed-title-color);
  letter-spacing: -.14px;
  align-items: center;
  gap: 4px;
  padding: 20.5px 0;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  display: flex;
}

.ed-header__menu li a i {
  font-size: 16px;
  position: relative;
  top: 2px;
}

.ed-header__menu li.active a, .ed-header__menu li:hover > a, .ed-header__menu li.active a {
  color: var(--ed-primary-color);
}

.ed-header__menu li:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.ed-header__menu li .sub-menu {
  background: var(--ed-white-color);
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  text-align: left;
  transform-origin: 0 0;
  border-top: 2px solid var(--ed-primary-color);
  border-radius: 0 0 4px 4px;
  min-width: 240px;
  transition: all .3s ease-out;
  position: absolute;
  top: 100%;
  transform: scaleY(0);
  box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, .3);
}

.ed-header__menu li .sub-menu li {
  border-bottom: 1px solid var(--ed-border-color);
  margin: 0;
  display: block;
  position: relative;
}

.ed-header__menu li .sub-menu li a {
  color: var(--ed-secondary-color);
  text-transform: capitalize;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  transition: all .4s ease-out;
  display: flex;
  padding: 16px 20px !important;
}

.ed-header__menu li .sub-menu li:hover > a, .ed-header__menu li .sub-menu li.active a {
  color: var(--ed-primary-color);
  padding-left: 25px;
}

.ed-header__menu li .sub-menu li:last-child {
  border: none;
}

.ed-header__menu li .sub-menu li .third-menu {
  background: var(--ed-white-color);
  opacity: 0;
  visibility: hidden;
  transform-origin: 0 0;
  z-index: 99;
  border-radius: 0 0 4px 4px;
  min-width: 240px;
  margin-top: 8px;
  transition: all .3s ease-out;
  position: absolute;
  top: 0;
  left: 100%;
  transform: scaleY(0);
  box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, .3);
}

.ed-header__menu li .sub-menu li:hover > .third-menu {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.ed-header__menu li .sub-menu li .third-menu li {
  border-bottom: 1px solid var(--ed-border-color);
  margin: 0;
  display: block;
  position: relative;
}

.ed-header__menu li .sub-menu li .third-menu li a {
  color: var(--ed-secondary-color);
  justify-content: space-between;
  align-items: center;
  padding: 14px 18px;
  font-size: 14px;
  font-weight: 500;
  transition: all .3s ease-out;
  display: flex;
}

.ed-header__menu li .sub-menu li .third-menu li:hover a, .ed-header__menu li .sub-menu li .third-menu li.active a {
  color: var(--ed-primary-color);
  padding-left: 25px;
}

.ed-header__menu li .sub-menu li .third-menu li:last-child {
  border: none;
}

.ed-header__right {
  justify-content: right;
  align-items: center;
  gap: 36px;
  display: flex;
}

.ed-header__contact {
  align-items: center;
  display: flex;
}

.ed-header__contact li {
  margin-right: 16px;
  padding-right: 16px;
  display: inline-block;
  position: relative;
}

.ed-header__contact li:last-child {
  margin: 0;
  padding: 0;
}

.ed-header__contact li:before {
  content: "";
  background: #c7cacc;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.ed-header__contact li:last-child:before {
  display: none;
}

.ed-header__contact li a {
  color: #263238;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}

.ed-header__contact li a:hover {
  color: var(--ed-primary-color);
}

.ed-header__action {
  align-items: center;
  gap: 16px;
  display: flex;
}

.ed-header__menu button {
  background: none;
  padding: 0;
}

.ed-header__menu button img, .ed-topbar__action-icon img {
  object-fit: contain;
  width: 20px;
  height: 20px;
}

.ed-topbar__action-icon {
  background: none;
  padding: 0;
  position: relative;
}

.ed-topbar__action-icon span {
  background: var(--ed-primary-color);
  width: 16px;
  height: 16px;
  color: var(--ed-white-color);
  text-align: center;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.ed-header.ed-header--style2 {
  box-shadow: none;
  background: none;
  padding: 16px 0;
}

.ed-header.ed-header--style2.sticky {
  background: var(--ed-white-color);
  box-shadow: 0 4px 30px 16px rgba(7, 2, 41, .04);
}

.ed-header.ed-header--style2 .ed-container-expand {
  max-width: 1762px;
  padding: 0;
}

.ed-header__left--style2 {
  align-items: center;
  gap: 60px;
  display: flex;
}

.ed-header__left-widget--style2 {
  align-items: center;
  gap: 25px;
  display: flex;
}

.ed-header--style2 .ed-topbar__category .nice-select {
  border-radius: 52px;
  border: 1px solid #011c1a !important;
}

.ed-header--style2 .ed-topbar__category:before {
  display: none;
}

.ed-header--style2 .ed-header__action {
  gap: 22px;
}

.ed-header.ed-header--style3.sticky {
  background: var(--ed-secondary-color);
  box-shadow: none;
}

.ed-header--style3 .ed-header__menu li a {
  color: var(--ed-white-color);
}

.ed-header--style3 .ed-header__menu li:hover > a {
  color: var(--ed-primary-color);
}

.ed-header.ed-header--style4 .ed-header__inner {
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  display: flex;
}

.ed-header.ed-header--style4 {
  background: var(--ed-white-color);
  box-shadow: 0 4px 30px 16px rgba(7, 2, 41, .04);
}

.ed-header__search form {
  position: relative;
}

.ed-header__search form input {
  background: #fff;
  border: 1px solid #011c1a;
  border-radius: 8px;
  width: 295px;
  height: 50px;
  padding: 12px 40px 12px 20px;
}

.ed-header__search form input:focus {
  border: 1px solid var(--ed-primary-color);
}

.ed-header__search form button {
  color: #738281;
  background: none;
  padding: 0;
  position: absolute;
  top: 17px;
  right: 20px;
}

.ed-header__search form button:hover {
  color: var(--ed-primary-color);
}

.header-divider {
  color: #b3bbbb;
}

.ed-header.ed-header--style5 .ed-header__action {
  gap: 20px;
}

@media only screen and (max-width: 1600px) {
  .ed-header__search {
    display: none;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1600px) {
  .ed-header.ed-header--style2 .ed-container-expand {
    max-width: 1400px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .ed-topbar__search {
    width: 380px;
  }

  .ed-topbar__info-social {
    display: flex;
  }

  .ed-header.ed-header--style2 .ed-container-expand {
    max-width: 1170px;
  }

  .ed-header.ed-header--style2 .ed-topbar__info-buttons .register-btn {
    display: none;
  }

  .ed-header.ed-header--style2 .ed-header__navigation {
    white-space: nowrap;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  .ed-header__menu li {
    margin-right: 12px;
  }

  .ed-header__contact li {
    margin-right: 8px;
    padding-right: 8px;
  }

  .ed-header__right {
    gap: 12px;
  }

  .ed-header__contact li:before {
    right: -1px;
  }

  .ed-topbar__search {
    width: 300px;
  }

  .ed-topbar__info-social, .ed-header.ed-header--style2 .ed-topbar__search-widget, .ed-header.ed-header--style2 .ed-topbar__info-buttons .register-btn {
    display: none;
  }

  .ed-header.ed-header--style2 .ed-container-expand {
    max-width: 1170px;
    padding: 0% 5%;
  }

  .ed-header.ed-header--style2 .ed-header__navigation {
    white-space: nowrap;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  .ed-header {
    padding: 16px 0;
  }

  .ed-topbar__search {
    width: 230px;
  }

  .ed-topbar__category {
    display: none;
  }

  .ed-topbar__search input {
    border-radius: 52px;
    padding: 12px 74px 12px 20px;
  }

  .ed-topbar__search button {
    gap: 0;
    font-size: 0;
  }

  .ed-topbar__info-social, .ed-header__navigation {
    display: none;
  }

  .ed-header__right {
    justify-content: space-between;
  }

  .ed-header--style2 .ed-header__right {
    justify-content: right;
    gap: 24px;
  }

  .ed-header.ed-header--style2 .ed-container-expand {
    max-width: 1170px;
    padding: 0 5%;
  }

  .ed-header__menu button img, .ed-topbar__action-icon img {
    width: 28px;
    height: 28px;
  }

  .ed-header.ed-header--style5 .ed-header__action {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .ed-header__right {
    justify-content: space-between;
  }

  .ed-topbar__search-widget, .ed-topbar__info-social, .ed-topbar__info-buttons .register-btn {
    display: none;
  }

  .ed-topbar__info {
    gap: 16px;
  }

  .ed-header {
    padding: 16px 0;
  }

  .ed-header__navigation {
    display: none;
  }

  .ed-header__contact {
    display: block;
  }

  .ed-header__contact li {
    margin-right: 0;
    padding-right: 0;
  }

  .ed-header__contact li:before {
    display: none;
  }

  .ed-header__contact li a {
    line-height: 20px;
  }

  .ed-topbar__action-icon img, .ed-header__menu button img {
    width: 28px;
    min-width: 28px;
    height: 28px;
  }

  .ed-header.ed-header--style2 .ed-topbar__action-icon img, .ed-header.ed-header--style2 .ed-header__menu button img {
    width: 18px;
    min-width: 18px;
    height: 18px;
  }

  .ed-header.ed-header--style2 .ed-header__right {
    justify-content: right;
    gap: 12px;
  }

  .ed-topbar__info-buttons button {
    padding: 12px 16px;
  }

  .ed-header--style2 .ed-header__action {
    gap: 16px;
  }

  .ed-header.ed-header--style2 .ed-container-expand {
    max-width: 1170px;
    padding: 0 5%;
  }

  .ed-header.ed-header--style5 .ed-header__action {
    display: none;
  }
}

/*# sourceMappingURL=public_assets_section-css_header_css_bad6b30c._.single.css.map*/