/* [project]/public/assets/section-css/mobile-menu.css [app-client] (css) */
.mobile-menu-modal {
  z-index: 9999999;
}

.modal-backdrop.fade.show {
  background: var(--ed-secondary-color);
  opacity: .5;
  z-index: 999;
}

.mobile-menu-modal .offcanvas-logo img {
  object-fit: contain;
  max-width: 140px;
  height: 34px;
}

.mobile-menu-offcanvas-toggler {
  text-align: center;
  z-index: 3;
  z-index: 888;
  float: right;
  background: none;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 14px;
  line-height: 50px;
  display: none;
  padding: 0 !important;
}

.mobile-menu-offcanvas-toggler .line {
  background: var(--ed-title-color);
  border-radius: 30px;
  width: 24px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  transition: all .3s;
  display: block;
  position: relative;
}

.mobile-menu-offcanvas-toggler .line + .line {
  margin-top: 4px;
}

.mobile-menu-offcanvas-toggler:hover .line {
  background: var(--ed-primary-color);
}

.mobile-menu-modal-main-body {
  padding: 24px 20px;
  overflow-y: scroll;
}

.mobile-menu-modal.offcanvas-modal.modal.fade .modal-dialog {
  transform: translateX(-100%);
}

.mobile-menu-modal.offcanvas-modal.modal.show .modal-dialog {
  transform: translateX(0%);
}

.mobile-menu-modal .offcanvas-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile-menu-modal .offcanvas-dialog .modal-content {
  border: 0;
  border-radius: 0;
  height: 100%;
}

.mobile-menu-modal .offcanvas-header {
  background: var(--ed-offwhite-color);
  border: none;
  border-radius: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
  padding: 18px 20px !important;
}

.mobile-menu-modal .offcanvas-header .btn-close {
  color: var(--ed-white-color);
  opacity: 1;
  float: right;
  background: #d73b3e;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 39px;
  transition: all .4s;
}

.mobile-menu-modal .offcanvas-header .btn-close:hover {
  background: var(--ed-secondary-color);
  color: var(--ed-white-color);
}

.offcanvas__menu_ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offcanvas__menu_li {
  position: relative;
}

.offcanvas__menu_item {
  color: var(--ed-title-color);
  border-bottom: 1px solid #ebebeb;
  padding: 16px 0;
  font-weight: 500;
  line-height: 1;
  display: block;
}

.offcanvas__menu_item:hover {
  color: var(--ed-primary-color);
}

.offcanvas__menu_item:last-child {
  border: none;
}

.offcanvas__sub_menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.offcanvas__sub_menu_li {
  border-top: 1px solid var(--border-color);
  position: relative;
}

.offcanvas__sub_menu_item {
  color: var(--ed-title-color);
  border-bottom: 1px solid #ebebeb;
  margin-left: 16px;
  padding: 16px 0;
  font-weight: 500;
  line-height: 1;
  display: block;
}

.offcanvas__sub_menu_item.active, .offcanvas__menu_item.active, .offcanvas__sub_menu_item:hover {
  color: var(--ed-primary-color);
}

.offcanvas__sub_menu_item ~ .offcanvas__sub_menu .offcanvas__sub_menu_item {
  margin-left: 32px;
}

.offcanvas__sub_menu_toggle {
  z-index: 9;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.offcanvas__sub_menu_toggle:after, .offcanvas__sub_menu_toggle:before {
  content: "";
  width: 12px;
  height: 2px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: var(--ed-primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
}

.offcanvas__sub_menu_toggle:not(.active):after {
  transform: translateX(-50%)translateY(-50%)rotate(90deg);
}

@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  .mobile-menu-offcanvas-toggler {
    display: block;
  }

  .mobile-menu-modal .offcanvas-dialog {
    width: 400px;
  }

  .ed-header--style3 .mobile-menu-offcanvas-toggler .line {
    background: var(--ed-white-color);
  }
}

@media only screen and (max-width: 767px) {
  .mobile-menu-offcanvas-toggler {
    display: block;
  }

  .ed-header--style3 .mobile-menu-offcanvas-toggler .line {
    background: var(--ed-white-color);
  }
}

/*# sourceMappingURL=public_assets_section-css_mobile-menu_css_bad6b30c._.single.css.map*/