/* [project]/public/assets/section-css/testimonial.css [app-client] (css) */
.ed-testimonial__slider {
  background: var(--ed-white-color);
  border-radius: 8px;
  margin-top: 50px;
  padding: 30px;
}

.ed-testimonial__content {
  padding-right: 34px;
}

.ed-testimonial__rattings {
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
  display: flex;
}

.ed-testimonial__rattings li i {
  color: #ffcd20;
  font-size: 18px;
}

.ed-testimonial__text {
  letter-spacing: -.18px;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
}

.ed-testimonial__author {
  align-items: center;
  gap: 15px;
  margin-top: 40px;
  display: flex;
}

.ed-testimonial__author-img img {
  empty-cells: ;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}

.ed-testimonial__author-info h5 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.ed-testimonial__author-info p {
  letter-spacing: -.28px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.ed-testimonial__main-img img {
  object-fit: cover;
  border-radius: 8px 8px 140px;
  width: 437px;
  height: 520px;
}

.ed-testimonial__main-img {
  text-align: right;
}

.ed-testimonial__images {
  z-index: 2;
}

.ed-testimonial__shape-1 {
  z-index: -1;
  position: absolute;
  top: 85px;
  left: 35px;
}

.ed-testimonial__shape-2 {
  position: absolute;
  top: 200px;
  right: -45px;
}

.ed-testimonial__shape-3 {
  position: absolute;
  bottom: 0;
  right: -44px;
}

.ed-testimonial__images .counter-card {
  bottom: 50px;
  left: 25px;
}

.ed-testimonial .owl-carousel .owl-nav {
  z-index: 9;
  position: absolute;
  bottom: 0;
  right: 30px;
}

.ed-testimonial .owl-carousel .owl-nav button.owl-next, .ed-testimonial .owl-carousel .owl-nav button.owl-prev {
  color: var(--ed-primary-color);
  font-size: 28px;
}

.ed-testimonial .owl-carousel .owl-nav button.owl-next:hover, .ed-testimonial .owl-carousel .owl-nav button.owl-prev:hover {
  opacity: .6;
}

.ed-testimonial .owl-carousel .owl-nav button.owl-prev {
  margin-right: 20px;
}

.ed-testimonial--style2 .ed-testimonial__slider {
  margin: 0;
  padding: 0;
}

.ed-testimonial--style2 .ed-testimonial__slider-item {
  text-align: center;
  margin: 0 132px;
}

.ed-testimonial--style2 .ed-testimonial__author {
  justify-content: center;
  margin-top: 72px;
}

.ed-testimonial--style2 .ed-testimonial__rattings {
  justify-content: center;
  margin-bottom: 46px;
}

.ed-testimonial--style2 .ed-testimonial__text {
  color: var(--ed-title-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.ed-testimonial--style2 .ed-testimonial__rattings li i {
  font-size: 24px;
}

.ed-testimonial--style2 .owl-carousel .owl-nav {
  position: initial;
}

.ed-testimonial--style2 .owl-nav button {
  cursor: pointer;
  opacity: .5;
  z-index: 9;
  background: none;
  border-radius: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--ed-primary-color) !important;
  font-size: 28px !important;
}

.ed-testimonial--style2 .owl-nav button:hover {
  opacity: 1 !important;
}

.ed-testimonial--style2 .owl-prev {
  left: 0;
}

.ed-testimonial--style2 .owl-next {
  right: 0;
}

.ed-testimonial__slider-2 {
  margin-left: -140px;
  margin-right: -140px;
}

.ed-testimonial--style3 .ed-testimonial__slider-item {
  margin-top: 30px;
  padding: 30px;
}

.ed-testimonial--style3 .ed-testimonial__slider-item.bg-color-1 {
  background: #fceeee;
}

.ed-testimonial--style3 .ed-testimonial__slider-item.bg-color-2 {
  background: #eef7f6;
}

.ed-testimonial--style3 .ed-testimonial__slider-item.bg-color-3 {
  background: #f0eefd;
}

.ed-testimonial--style3 .ed-testimonial__slider-item.bg-color-4 {
  background: #fcebfe;
}

.ed-testimonial--style4 {
  z-index: 2;
  position: relative;
}

.ed-testimonial--style4:before {
  content: "";
  z-index: -1;
  background-image: url("../media/circle-pattern.9a0da33a.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 718px;
  height: 540px;
  position: absolute;
  top: 0;
  left: 0;
}

.ed-testimonial__shapes .shape-1 {
  position: absolute;
  top: -11%;
  right: -2%;
}

.ed-testimonial--style4 .ed-testimonial__slider-item {
  z-index: 2;
  background: #f5f6f1;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  margin-top: 30px;
  padding: 35px 30px 50px;
  transition: all .4s;
  position: relative;
}

.ed-testimonial--style4 .ed-testimonial__slider-item:hover {
  background: var(--ed-white-color);
  border: 1px solid var(--ed-border-color);
}

.ed-testimonial--style4 .ed-testimonial__slider-item:before {
  content: "";
  z-index: -1;
  background-image: url("../media/quote.db38e9fe.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 68px;
  height: 68px;
  position: absolute;
  top: 58px;
  right: 30px;
}

.ed-testimonial--style4 .ed-testimonial__author-info {
  margin-top: 16px;
}

.ed-testimonial--style4 .ed-testimonial__author {
  margin-top: 0;
  display: block;
}

.ed-testimonial--style4 .ed-testimonial__rattings li i {
  color: #543ee8;
}

.ed-testimonial--style4 .ed-testimonial__rattings {
  margin-top: 24px;
  margin-bottom: 12px;
}

.ed-testimonial--style4 .ed-testimonial__author-img img {
  border: 2px solid var(--ed-white-color);
  width: 60px;
  height: 60px;
}

.ed-testimonial--style4 .ed-testimonial__text {
  color: var(--ed-title-color);
  font-weight: 700;
  line-height: 30px;
}

.ed-testimonial--style4 .swiper-button-next, .ed-testimonial--style4 .swiper-button-prev {
  background: var(--ed-white-color);
  width: 45px;
  height: 45px;
  color: var(--ed-primary-color);
  border-radius: 100%;
  padding: 0;
  font-size: 20px;
  line-height: 14px;
  transition: all .4s;
  box-shadow: 0 8px 24px rgba(0, 0, 0, .08);
  opacity: 1 !important;
}

.ed-testimonial--style4 .swiper-button-next:hover, .ed-testimonial--style4 .swiper-button-prev:hover {
  background: var(--ed-primary-color);
  color: var(--ed-white-color);
}

.ed-testimonial--style4 .swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: -64px;
}

.ed-testimonial--style4 .swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: -64px;
}

.ed-testimonial--style4 .swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

@media only screen and (min-width: 992px) and (max-width: 1280px) {
  .ed-testimonial__content {
    padding-right: 0;
  }

  .ed-testimonial__shape-2, .ed-testimonial__shape-3 {
    right: -20px;
  }

  .ed-testimonial__shape-1 {
    top: -50px;
  }

  .ed-testimonial--style4 .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: -16px;
  }

  .ed-testimonial--style4 .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: -16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  .ed-testimonial__main-img {
    text-align: center;
    margin-top: 40px;
  }

  .ed-testimonial__shape-3 {
    right: 16%;
  }

  .ed-testimonial__shape-2 {
    right: 15%;
  }

  .ed-testimonial__shape-1 {
    left: 11%;
  }

  .ed-testimonial--style2 .ed-testimonial__rattings {
    margin-bottom: 24px;
  }

  .ed-testimonial--style2 .ed-testimonial__author {
    margin-top: 40px;
  }

  .ed-testimonial--style2 .ed-testimonial__slider-item {
    margin: 0 80px;
  }

  .ed-testimonial--style4 .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: -16px;
  }

  .ed-testimonial--style4 .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: -16px;
  }
}

@media only screen and (max-width: 767px) {
  .ed-testimonial__content {
    padding-right: 0;
  }

  .ed-testimonial__slider {
    margin-top: 40px;
  }

  .ed-testimonial__text {
    line-height: 26px;
  }

  .ed-testimonial__author {
    margin-top: 24px;
  }

  .ed-testimonial .owl-carousel .owl-nav {
    position: initial;
    margin-top: 24px;
    line-height: 0;
  }

  .ed-testimonial__slider {
    padding: 24px;
  }

  .ed-testimonial__main-img img {
    width: 100%;
    height: 320px;
  }

  .ed-testimonial__shape-2, .ed-testimonial__shape-3 {
    display: none;
  }

  .ed-testimonial__images .counter-card {
    bottom: 0;
    left: 0;
  }

  .ed-testimonial__images {
    margin-top: 40px;
  }

  .ed-testimonial--style2 .ed-testimonial__slider-item {
    margin: 0;
  }

  .ed-testimonial--style2 .ed-testimonial__author {
    margin-top: 32px;
  }

  .ed-testimonial--style2 .ed-testimonial__text {
    line-height: 28px;
  }

  .ed-testimonial--style2 .ed-testimonial__rattings {
    margin-bottom: 24px;
  }

  .ed-testimonial--style2 .owl-nav {
    text-align: center;
  }

  .ed-testimonial--style2 .owl-nav button {
    position: initial;
    transform: none;
  }

  .ed-testimonial__slider-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .ed-testimonial--style4 .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: -8px;
  }

  .ed-testimonial--style4 .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: -8px;
  }

  .ed-testimonial--style4 .ed-testimonial__slider-item {
    padding: 24px;
  }
}

/*# sourceMappingURL=public_assets_section-css_testimonial_css_bad6b30c._.single.css.map*/