/* [project]/public/assets/section-css/why-choose.css [app-client] (css) */
.ed-why-choose {
  padding-bottom: 288px;
}

.ed-w-choose__info-head {
  align-items: center;
  gap: 20px;
  display: flex;
}

.ed-w-choose__info-icon {
  text-align: center;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.ed-w-choose__info-icon img {
  object-fit: contain;
  width: 25px;
  height: 25px;
}

.ed-w-choose__info-head h5 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.ed-w-choose__info-head {
  margin-bottom: 20px;
}

.ed-w-choose__info-single {
  margin-top: 44px;
}

.ed-w-choose__info-icon.bg-1 {
  background: rgba(66, 172, 152, .09);
}

.ed-w-choose__info-icon.bg-2 {
  background: rgba(223, 67, 67, .09);
}

.ed-w-choose__info-icon.bg-3 {
  background: rgba(222, 30, 249, .09);
}

.ed-w-choose__main-img img {
  object-fit: contain;
  width: 586px;
  height: 585px;
}

.ed-w-choose__images .counter-card {
  bottom: 40px;
}

.ed-w-choose__shape-1, .ed-w-choose__shape-2, .ed-w-choose__pattern-1 {
  position: absolute;
}

.ed-w-choose__shape-1 {
  top: 22%;
}

.ed-w-choose__shape-2 {
  bottom: 10%;
  right: 0%;
}

.ed-w-choose__pattern-1 {
  top: 110px;
  left: 110px;
}

.ed-why-choose.ed-why-choose--style2 {
  padding-top: 126px;
  padding-bottom: 110px;
}

.ed-why-choose--style2 .ed-w-choose__content {
  margin-bottom: 32px;
}

.ed-why-choose--style2 .ed-w-choose__info {
  gap: 30px;
  display: flex;
}

.ed-w-choose__info-single--style2 {
  background: var(--ed-white-color);
  border-radius: 8px;
  width: 354px;
  margin-top: 15px;
  padding: 25px 25px 32px;
}

.ed-w-choose__images--style2 {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}

.ed-w-choose__images--style2 .ed-w-choose__main-img img {
  object-fit: cover;
  border-radius: 86px 0;
  width: 484px;
  height: 520px;
}

.ed-w-choose__images--style2 .ed-w-choose__shape-1 {
  top: 20%;
  left: -32px;
}

.ed-why-choose.ed-why-choose--style3 {
  padding-bottom: 110px;
}

.ed-w-choose__images--style3 {
  z-index: 2;
  margin-bottom: 170px;
}

.ed-w-choose__images--style3:before {
  content: "";
  filter: blur(250px);
  z-index: -1;
  background: rgba(111, 192, 129, .52);
  border-radius: 560px;
  width: 560px;
  height: 403px;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ed-w-choose__main-img--style2 {
  text-align: right;
}

.ed-w-choose__main-img--style2 .why-choose-img-1 {
  object-fit: cover;
  border-radius: 8px;
  width: 454px;
  height: 465px;
}

.ed-w-choose__main-img--style2 .why-choose-img-2 {
  object-fit: cover;
  border-radius: 8px;
  width: 355px;
  height: 264px;
  position: absolute;
  bottom: -170px;
  right: 150px;
}

.ed-w-choose__images--style3 .counter-card {
  bottom: -140px;
  left: auto;
  right: 0;
}

.ed-w-choose__images--style3 .ed-w-choose__shape-1 {
  z-index: -1;
  top: 14%;
}

.ed-w-choose__images--style3 .ed-w-choose__shape-2 {
  bottom: 20%;
  left: 1%;
  right: auto;
}

.ed-w-choose__shape-3 {
  z-index: -1;
  position: absolute;
  top: 25%;
  left: 0;
}

.ed-why-choose--style4 .ed-w-choose__main-img--style2 {
  text-align: left;
}

.ed-why-choose--style4 .ed-w-choose__main-img--style2 .why-choose-img-2 {
  left: 150px;
  right: auto;
}

.ed-why-choose--style4 .ed-w-choose__images--style3 .counter-card {
  left: 0;
  right: auto;
}

.ed-why-choose--style4 .ed-w-choose__images--style3 .ed-w-choose__shape-2 {
  left: auto;
  right: 1%;
}

.ed-why-choose--style4 .ed-w-choose__images--style3 .ed-w-choose__shape-1 {
  right: 0;
}

.ed-why-choose--style4 .ed-w-choose__content {
  padding-left: 56px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .ed-why-choose.ed-why-choose--style3 {
    overflow: hidden;
  }

  .ed-w-choose__main-img--style2 .why-choose-img-2 {
    right: 50px;
  }

  .ed-w-choose__images--style3 .ed-w-choose__shape-1 {
    top: -10%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  .ed-w-choose__main-img {
    text-align: center;
    margin-top: 40px;
  }

  .ed-w-choose__pattern-1 {
    display: none;
  }

  .ed-w-choose__main-img img {
    object-fit: contain;
    height: 480px;
  }

  .ed-w-choose__shape-1 {
    left: 24%;
  }

  .ed-w-choose__shape-2 {
    right: 14%;
  }

  .ed-w-choose__images--style2 {
    position: inherit;
  }

  .ed-w-choose__images--style2 .ed-w-choose__main-img img {
    height: 380px;
  }

  .ed-w-choose__info-single--style2 {
    width: auto;
  }

  .ed-why-choose--style2 .ed-w-choose__info {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    display: grid;
  }

  .ed-why-choose.ed-why-choose--style2 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .ed-w-choose__images--style2 .ed-w-choose__shape-1 {
    display: none;
    left: 0;
  }

  .ed-why-choose.ed-why-choose--style3 {
    padding-bottom: 80px;
  }

  .ed-w-choose__images--style3 {
    margin-top: 40px;
  }

  .ed-w-choose__main-img--style2 {
    text-align: center;
  }

  .ed-w-choose__main-img--style2 .why-choose-img-2 {
    right: 272px;
  }

  .ed-w-choose__images--style3 .counter-card {
    bottom: -130px;
    right: 70px;
  }

  .ed-w-choose__shape-3 {
    display: none;
  }

  .ed-why-choose--style4 .ed-w-choose__content {
    margin-top: 40px;
    padding-left: 0;
  }

  .ed-why-choose--style4 .ed-w-choose__images {
    margin-top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .ed-why-choose {
    padding-bottom: 80px;
  }

  .ed-w-choose__pattern-1 {
    display: none;
  }

  .ed-w-choose__info-single {
    margin-top: 24px;
  }

  .ed-w-choose__main-img img {
    width: 100%;
    height: 320px;
  }

  .ed-w-choose__shape-2 {
    display: none;
  }

  .ed-w-choose__images .counter-card {
    bottom: 0;
  }

  .ed-w-choose__shape-1 {
    top: 12%;
  }

  .ed-w-choose__images {
    margin-top: 40px;
  }

  .ed-why-choose.ed-why-choose--style2 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .ed-w-choose__images--style2 {
    position: inherit;
  }

  .ed-w-choose__info-single--style2 {
    width: 100%;
    padding: 24px;
  }

  .ed-w-choose__info-head {
    margin-bottom: 12px;
  }

  .ed-why-choose--style2 .ed-w-choose__info {
    display: block;
  }

  .ed-w-choose__images--style2 .ed-w-choose__main-img img {
    width: 100%;
    height: 320px;
  }

  .ed-w-choose__images--style2 .ed-w-choose__shape-1 {
    top: 0;
    left: 0;
  }

  .ed-w-choose__main-img--style2 .why-choose-img-2 {
    display: none;
  }

  .ed-w-choose__main-img--style2 .why-choose-img-1 {
    width: 100%;
    height: 364px;
  }

  .ed-w-choose__images--style3 {
    margin-bottom: 0;
  }

  .ed-why-choose.ed-why-choose--style3 {
    padding-bottom: 80px;
    overflow: hidden;
  }

  .ed-w-choose__shape-3 {
    display: none;
  }

  .ed-why-choose--style4 .ed-w-choose__content {
    margin-top: 40px;
    padding-left: 0;
  }

  .ed-why-choose--style4 .ed-w-choose__images {
    margin-top: 0;
  }
}

/*# sourceMappingURL=public_assets_section-css_why-choose_css_bad6b30c._.single.css.map*/