/* [project]/public/assets/section-css/course.css [app-client] (css) */
.ed-course__shape-1, .ed-course__shape-2, .ed-course__shape-3 {
  position: absolute;
}

.ed-course__shape-1 {
  top: 28%;
  left: 12%;
}

.ed-course__shape-2 {
  bottom: 27%;
  left: 56px;
}

.ed-course__shape-3 {
  bottom: 27%;
  right: 116px;
}

.ed-course__card {
  background: var(--ed-offwhite-color);
  border-radius: 8px;
  margin-top: 30px;
  position: relative;
}

.ed-course__img {
  border-radius: 8px 8px 0 0;
  display: block;
  overflow: hidden;
}

.ed-course__img img {
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 270px;
}

.ed-course__card:hover .ed-course__img img {
  transform: scale(1.12);
}

.ed-course__tag {
  background: var(--ed-tertiary-color);
  color: #263238;
  border-radius: 41px;
  padding: 4px 14px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  transition: all .4s;
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 12px;
}

.ed-course__tag:hover {
  background: var(--ed-secondary-color) !important;
  color: var(--ed-white-color) !important;
}

.ed-course__body {
  padding: 32px 20px;
}

.ed-course__lesson {
  align-items: center;
  gap: 32px;
  margin-bottom: 12px;
  display: flex;
}

.ed-course__part, .ed-course__teacher {
  align-items: center;
  gap: 6px;
  display: flex;
}

.ed-course__lesson i {
  position: relative;
  top: 2px;
}

.ed-course__lesson p {
  letter-spacing: -.28px;
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
}

.ed-course__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.ed-course__title h5 {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 32px;
}

.ed-course__title h5:hover {
  color: var(--ed-primary-color);
}

.ed-course__rattings ul {
  align-items: center;
  gap: 4px;
  display: flex;
}

.ed-course__rattings ul li i {
  color: #ffcd20;
  font-size: 18px;
  position: relative;
}

.ed-course__rattings ul li span {
  letter-spacing: -.28px;
  margin-left: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
  position: relative;
}

.ed-course__bottom {
  border-top: 1px solid #e9e5da;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
}

.ed-course__price {
  color: #543ee8;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.ed-course__students {
  align-items: center;
  gap: 8px;
  display: flex;
}

.ed-course__students p {
  letter-spacing: -.28px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.ed-course__students i {
  font-size: 16px;
  position: relative;
  top: 1px;
}

.ed-course--style2:before {
  content: "";
  filter: blur(200px);
  z-index: -1;
  background: rgba(255, 205, 32, .26);
  border-radius: 623px;
  width: 623px;
  height: 449px;
  position: absolute;
  top: 50%;
  left: -2%;
  transform: translate(0, -50%);
}

.ed-course__card--style2 {
  z-index: 2;
  background: none;
  align-items: center;
  gap: 30px;
  display: flex;
}

.ed-course__bookmarked {
  background: var(--ed-white-color);
  text-align: center;
  width: 32px;
  height: 32px;
  color: var(--ed-title-color);
  border-radius: 100%;
  font-size: 15px;
  line-height: 37px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.ed-course__bookmarked:hover {
  background: var(--ed-tertiary-color);
}

.ed-course__card--style2 .ed-course__img {
  border-radius: 8px;
}

.ed-course__card--style2 .ed-course__img img {
  border-radius: 8px;
  width: 250px;
  max-width: 250px;
  height: 222px;
}

.ed-course__card--style2 .ed-course__body {
  padding: 42px 30px 42px 0;
}

.ed-course__card--style2 .ed-course__body:before {
  content: "";
  background: var(--ed-white-color);
  z-index: -1;
  border-radius: 8px;
  width: 446px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 0 50px 42px rgba(14, 5, 72, .04);
}

.ed-course__card--style2 .ed-course__body {
  padding: 42px 20px 42px 0;
  position: relative;
}

.ed-course__card--style2 .ed-course__title h5 {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
}

.ed-course__card--style2 .ed-course__bottom {
  border-top: none;
  margin-top: 24px;
  padding-top: 0;
}

.ed-course__card--style3 .ed-course__lesson {
  justify-content: space-between;
}

.ed-course__card--style3 .ed-course__teacher img {
  object-fit: cover;
  border-radius: 100%;
  width: 28px;
  height: 28px;
}

.ed-course__card--style3 .ed-course__teacher a:hover {
  color: var(--ed-primary-color);
}

.ed-course__card--style3 .ed-course__teacher a {
  font-weight: 500;
}

.ed-course__card--style3 .ed-course__rattings ul li i {
  top: 0;
}

.ed-course.home-4 {
  padding-bottom: 360px;
}

.ed-course__card--style4 {
  background: var(--ed-white-color);
}

.ed-course__card--style4 .ed-course__cover {
  padding: 14px 14px 0;
}

.ed-course__card--style4 .ed-course__img {
  border-radius: 8px;
}

.ed-course__card--style4 .ed-course__img img {
  border-radius: 8px;
  height: 255px;
}

.ed-course.ed-course--style-5 {
  z-index: 1;
  background: #f5f6f1;
  overflow: hidden;
}

.ed-course.ed-course--style-5:before, .ed-course.ed-course--style-5:after {
  content: "";
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 718px;
  height: 540px;
  position: absolute;
}

.ed-course.ed-course--style-5:before {
  background-image: url("../media/pattern-1.a8bc5079.svg");
  top: 0;
  right: -70px;
}

.ed-course.ed-course--style-5:after {
  background-image: url("../media/pattern-2.123ac327.svg");
  bottom: 0;
  left: 0;
}

.ed-course__shapes .shape-1 {
  position: absolute;
  top: 124px;
  left: 14%;
}

.ed-course__tab {
  margin-top: 20px;
}

.ed-course__tab .list-group {
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  margin-bottom: 10px;
}

.ed-course__tab .list-group-item {
  background: var(--ed-white-color);
  color: #6fc081;
  letter-spacing: -.16px;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border: none !important;
}

.ed-course__tab .list-group-item.active {
  color: var(--ed-white-color);
  background-color: #6fc081;
}

.ed-course__tab .list-group-item:hover {
  color: var(--ed-white-color);
  background: #6fc081;
}

.ed-course--style-5 .ed-course__card {
  z-index: 1;
  background: none;
  gap: 32px;
  padding: 32px 32px 32px 0;
  display: flex;
  position: relative;
}

.ed-course--style-5 .ed-course__card:before {
  content: "";
  z-index: -1;
  background: var(--ed-white-color);
  border-radius: 8px;
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 0 50px 42px rgba(14, 5, 72, .03);
}

.ed-course--style-5 .ed-course__main-img img {
  border-radius: 100%;
  width: 204px;
  min-width: 204px;
  height: 204px;
}

.ed-course--style-5 .ed-course__main-img {
  width: 204px;
  height: 204px;
  position: relative;
}

.ed-course--style-5 .ed-course__main-img:before {
  content: "";
  background: linear-gradient(rgba(9, 9, 9, 0) 28.19%, rgba(9, 9, 9, .85) 89.46%);
  border-radius: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ed-course--style-5 .ed-course__image {
  text-align: center;
  position: relative;
}

.ed-course--style-5 .ed-course__price {
  background: var(--ed-primary-color);
  text-align: center;
  z-index: 2;
  width: 54px;
  height: 54px;
  color: var(--ed-white-color);
  letter-spacing: -.56px;
  border-radius: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 54px;
  position: absolute;
  top: -6px;
  right: 5px;
}

.ed-course--style-5 .ed-course__category {
  color: #ffcd20;
  z-index: 2;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 120px;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  position: absolute;
  bottom: 26px;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%);
}

.ed-course--style-5 .ed-course__type {
  color: #263238;
  background: rgba(255, 205, 32, .22);
  border-radius: 40px;
  margin-bottom: 12px;
  padding: 8px 14px;
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
  display: inline-block;
}

.ed-course--style-5 .ed-course__content a {
  color: var(--ed-title-color);
  font-family: var(--ed-font-family-2);
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  display: block;
}

.ed-course--style-5 .ed-course__content a:hover {
  color: var(--ed-primary-color);
}

.ed-course__filter {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.ed-course__filter-text {
  margin: 0;
}

.ed-course__filter .ed-hero__search-form input {
  padding: 16px 140px 16px 24px;
}

.ed-pagination {
  text-align: center;
  margin-top: 70px;
}

.ed-pagination__list {
  justify-content: center;
  align-items: center;
  gap: 12px;
  display: flex;
}

.ed-pagination__list li a {
  background: var(--ed-offwhite-color);
  text-align: center;
  width: 46px;
  height: 46px;
  color: var(--ed-title-color);
  border-radius: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
  transition: all .4s;
}

.ed-pagination__list li a:hover, .ed-pagination__list li.active a {
  background: var(--ed-primary-color);
  color: var(--ed-white-color);
}

.ed-pagination__list li a i {
  font-size: 24px;
  line-height: 52px;
}

.ed-course__details {
  padding: 70px 0 110px;
}

.ed-course__details-content {
  margin-top: 40px;
}

.ed-course__details-img img {
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  height: 480px;
}

.ed-course__details-img {
  margin-bottom: 40px;
}

.ed-course__details-img.image-2 {
  margin: 40px 0 0;
}

.ed-course__details-img.image-2 img {
  height: 354px;
}

.ed-course__details-content h3 {
  letter-spacing: -.36px;
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
}

.ed-course__details-content h5 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.ed-course__details-list {
  margin-top: 32px;
}

.ed-course__details-content ul li {
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  display: flex;
}

.ed-course__details-content ul li:last-child {
  margin: 0;
}

.ed-course__sidebar-widget {
  background: var(--ed-offwhite-color);
  border-radius: 8px;
  margin-top: 40px;
  padding: 30px;
}

.ed-course__sidebar-title {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.ed-course__sidebar-widget ul li {
  color: #4e5450;
  border-bottom: 1px solid #e9e5da;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  display: flex;
}

.ed-course__sidebar-widget ul li:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.ed-course__sidebar-widget ul li span {
  color: var(--ed-paragraph-color);
  font-weight: 400;
}

.ed-course__sidebar-widget ul li .price {
  color: var(--ed-primary-color);
  font-weight: 700;
}

@media only screen and (min-width: 1201px) and (max-width: 1600px) {
  .ed-course__shape-2 {
    left: 30px;
  }

  .ed-course__shape-3 {
    right: 50px;
  }

  .ed-course__shape-1 {
    left: 5%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199.99px) {
  .ed-course__shape-2, .ed-course__shape-1, .ed-course__shape-3 {
    display: none;
  }

  .ed-course__card--style2 {
    display: block;
  }

  .ed-course__card--style2 .ed-course__img img {
    width: 100%;
    max-width: 100%;
  }

  .ed-course__card--style2 .ed-course__body:before {
    width: 100%;
    height: 400px;
    top: auto;
    bottom: 0;
  }

  .ed-course__card--style2 .ed-course__body {
    padding: 24px;
  }

  .ed-course__card--style2 .ed-course__head {
    margin: 0 24px;
  }

  .ed-course__details {
    padding: 40px 0 80px;
  }

  .ed-course__shapes .shape-1 {
    left: 0;
  }

  .ed-course--style-5 .ed-course__card:before {
    width: 100%;
  }

  .ed-course--style-5 .ed-course__card {
    padding: 32px;
    display: block;
  }

  .ed-course--style-5 .ed-course__image {
    width: 204px;
    height: 204px;
    margin: auto;
  }

  .ed-course--style-5 .ed-course__main-img {
    margin: auto;
  }

  .ed-course--style-5 .ed-course__content {
    text-align: center;
    margin-top: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ed-course {
    overflow: hidden;
  }

  .ed-course__title h5 {
    line-height: 28px;
  }

  .ed-course__shape-2, .ed-course__shape-1, .ed-course__shape-3 {
    display: none;
  }

  .ed-course__card--style2 .ed-course__img img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    max-width: 100%;
  }

  .ed-course__card--style2 .ed-course__body:before {
    display: none;
  }

  .ed-course__card--style2 .ed-course__body {
    padding: 24px;
  }

  .ed-course__card--style2 {
    background: var(--ed-white-color);
    display: block;
    box-shadow: 0 0 50px 42px rgba(14, 5, 72, .04);
  }

  .ed-course__filter {
    display: block;
  }

  .ed-course__filter-search {
    margin-top: 16px;
  }

  .ed-pagination {
    margin-top: 40px;
  }

  .ed-course__details-img img {
    height: 320px;
  }

  .ed-course__details-content h3 {
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 38px;
  }

  .ed-course__details-img {
    margin-bottom: 24px;
  }

  .ed-course__details-img.image-2 img {
    height: 280px;
  }

  .ed-course__details {
    padding: 40px 0 80px;
  }

  .ed-course.home-4 {
    padding-bottom: 330px;
  }

  .ed-course__shapes .shape-1 {
    display: none;
  }

  .ed-course__tab .list-group {
    justify-content: left;
    padding-bottom: 12px;
    overflow-y: scroll;
  }

  .ed-course__tab {
    margin-top: 0;
  }

  .ed-course--style-5 .ed-course__card:before {
    width: 100%;
  }

  .ed-course--style-5 .ed-course__card {
    padding: 32px;
    display: block;
  }

  .ed-course--style-5 .ed-course__main-img:before {
    width: 204px;
    height: 204px;
  }

  .ed-course--style-5 .ed-course__content {
    text-align: center;
    margin-top: 24px;
  }

  .ed-course--style-5 .ed-course__main-img {
    margin: auto;
  }

  .ed-course--style-5 .ed-course__price {
    top: 0;
    right: 24px;
  }
}

/*# sourceMappingURL=public_assets_section-css_course_css_bad6b30c._.single.css.map*/